body {
 background-image: url('../headerphoto.jpg');
 background-size: auto 590px;
 background-repeat:no-repeat;
 }
 #header, h1 {
  margin: 220px auto 250px auto;
  color: #dab844;
  font-size: 3em;
  font-family: "Metamorphous";
 }
