body {
 background-image: url('../headerphoto.jpg');
 background-size: auto 590px;
 background-repeat:no-repeat;
 }
#header, h1{
  margin: 95px auto 110px auto;
  color: #f1d83f;
  font-size: 280%;
  font-family: "Metamorphous";
 }

