body {
 background-image: url('../headerphoto.jpg');
 background-size: auto 590px;
 background-repeat:no-repeat;
 }
#bigheader{
  margin: 95px auto 110px auto;
  color: #f1d83f;
  font-family: "Metamorphous";
  font-size: 80%
 }

