body {
 background-image: url('../headerphoto.jpg');
 background-size: auto 590px;
 background-repeat:no-repeat;
 }
#header{
 margin:150px auto 210px auto;
}
#bigheader{
  color: #f1d83f;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 400%
 }
#lilheader{
  color: #f1d83f;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 170%
 }
 #singlebutton{
  color: #bad844;
  margin-top: 50px;
 }
/*.btn-custom {*/
/*  background-color: hsl(40, 100%, 62%) !important;*/
/*  background-repeat: repeat-x;*/
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbe3d", endColorstr="#ffbe3d");*/
/*  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbe3d), to(#ffbe3d));*/
/*  background-image: -moz-linear-gradient(top, #ffbe3d, #ffbe3d);*/
/*  background-image: -ms-linear-gradient(top, #ffbe3d, #ffbe3d);*/
/*  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbe3d), color-stop(100%, #ffbe3d));*/
/*  background-image: -webkit-linear-gradient(top, #ffbe3d, #ffbe3d);*/
/*  background-image: -o-linear-gradient(top, #ffbe3d, #ffbe3d);*/
/*  background-image: linear-gradient(#ffbe3d, #ffbe3d);*/
/*  border-color: #ffbe3d #ffbe3d hsl(40, 100%, 62%);*/
/*  color: #333 !important;*/
/*  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);*/
/*  -webkit-font-smoothing: antialiased;*/
/*}*/

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

  background-color: #f1d83f;
  border-color: #f1b73f;
 }

.btn
{
  background-color: #dab844;
  border-color: #8d2424;
}

