body {
 background-image: url('../headerphoto.jpg');
 background-size: auto 590px;
 background-repeat:no-repeat;
 }
#header{
 margin:150px auto 210px auto;
}
#bigheader{
  color: #f1d83f;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 400%
 }
#lilheader{
  color: #f1d83f;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 200%
 }
