body {
 background-image: url('../headerphoto.jpg');
 background-size: auto 590px;
 background-repeat:no-repeat;
 }
 #header, h1 {
  margin: 70px auto 135px auto;
  color: #dab844;
  font-size: 280%;
  font-family: "Metamorphous";
 }
