body {
 background-image: url('../headerphoto.jpg');
 background-size: auto 590px;
 background-repeat:no-repeat;
 }
#header{
 margin:130px auto 200px auto;
}
#bigheader{
  color: #f1d83f;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 400%
 }

